{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the creation, viewing and management of payment orders",
    "version" : "v1.0.0",
    "title" : "Order Payment Orders APIs"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/paymentOrders/{paymentOrderId}" : {
      "get" : {
        "operationId" : "getPaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "path",
          "description" : "The unique reference number of payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "currentPaymentState",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentStatus",
          "in" : "query",
          "description" : "Indicates the Status Code of the payment. Every payment in the hub is tracked using a status code which depicts the current stage at which payment is in the workflow",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductId",
          "in" : "query",
          "description" : "Indicates the payment order product for which payment is initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orderingCustomerId",
          "in" : "query",
          "description" : "Indicates the customer id for the ordering customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse1"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "put" : {
        "operationId" : "updatePaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "path",
          "description" : "The unique reference number of payment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "deletePaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "path",
          "description" : "The unique reference number of payment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders" : {
      "get" : {
        "operationId" : "getPaymentOrders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderId",
          "in" : "query",
          "description" : "The unique reference number of payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currentPaymentState",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentStatus",
          "in" : "query",
          "description" : "Indicates the Status Code of the payment. Every payment in the hub is tracked using a status code which depicts the current stage at which payment is in the workflow",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductIdNE",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductId",
          "in" : "query",
          "description" : "Indicates the payment order product for which payment is initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "debitAccountId",
          "in" : "query",
          "description" : "Indicates the debit account number of the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orderingCustomerId",
          "in" : "query",
          "description" : "Indicates the customer id for the ordering customer",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrdersResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse1"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      },
      "post" : {
        "operationId" : "createPaymentOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentOrder"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/purposes" : {
      "get" : {
        "operationId" : "getPaymentOrderPurposes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentOrderPurposeCodeId",
          "in" : "query",
          "description" : "Indicates the Id of payment purpose code i.e. purpose of the instruction based on a set of pre-defined categories.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderPurposesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderPurposesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/products" : {
      "get" : {
        "operationId" : "getPaymentOrderProducts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentProductGroupId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paymentOrderProductId",
          "in" : "query",
          "description" : "Indicates the payment order product for which payment is initiated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderProductsResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderProductsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/countryRules" : {
      "get" : {
        "operationId" : "getPaymentOrderCountryRules",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "countryId",
          "in" : "query",
          "description" : "ISO country code of the financial institution. ",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentOrderCountryRulesResponse",
            "schema" : {
              "$ref" : "#/definitions/PaymentOrderCountryRulesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "$ref" : "#/definitions/PayloadHeader_override"
        },
        "audit" : {
          "$ref" : "#/definitions/PayloadHeader_audit"
        }
      }
    },
    "PaymentOrder" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderBody"
        }
      },
      "description" : "PaymentOrder"
    },
    "PaymentOrderBody" : {
      "type" : "object",
      "properties" : {
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_narratives"
          }
        },
        "additionalInformations" : {
          "type" : "array",
          "description" : "Additional Information provided to add context",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_additionalInformations"
          }
        },
        "remittanceInformations" : {
          "type" : "array",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_remittanceInformations"
          }
        },
        "signatories" : {
          "type" : "array",
          "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_signatories"
          }
        },
        "invoiceReferences" : {
          "type" : "array",
          "description" : "It provides the reference of the invoice ",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_invoiceReferences"
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_charges"
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_overrides"
          }
        },
        "paymentOrderProductId" : {
          "type" : "string",
          "description" : "Indicates the payment order product for which payment is initiated"
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment"
        },
        "debitAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the debit account IBAN of the payment"
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Indicates the currency of debit account"
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the Invocation amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "This is the account which will be credited for the instruction"
        },
        "creditAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the credit account"
        },
        "orderingCustomerId" : {
          "type" : "string",
          "description" : "Indicates the customer id for the ordering customer"
        },
        "orderingCustomerName" : {
          "type" : "string",
          "description" : "Indicates the name of Ordering Customer"
        },
        "paymentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of payment."
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "executionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date when payment will be processed"
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency"
        },
        "forexSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency"
        },
        "forexCustomerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion between ordering currency and payment currency in case of transactions involving FX conversion. "
        },
        "orderingPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio"
        },
        "creditPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio"
        },
        "orderingReference" : {
          "type" : "string",
          "description" : "The reference related to the ordering details"
        },
        "chargeBearer" : {
          "type" : "string",
          "description" : "Indicates who will bear all charges for the payment. Allowed options are Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only"
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Indicates the account number of the beneficiary"
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Name of beneficiary"
        },
        "accountWithBankBIC" : {
          "type" : "string",
          "description" : "This is the BIC code of the institution where beneficiary holds an account"
        },
        "beneficiaryBankClearingCode" : {
          "type" : "string",
          "description" : "Clearing code or sort code of the beneficiary bank"
        },
        "accountWithBankClearingCode" : {
          "type" : "string",
          "description" : "This is the national clearing code or sort code of the institution where beneficiary holds an account"
        },
        "clearingChannel" : {
          "type" : "string",
          "description" : "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers"
        },
        "structuredCreditorReference" : {
          "type" : "string",
          "description" : "This is the unique reference, as assigned by the creditor, to unambiguously refer to the payment"
        },
        "beneficiaryCountryCode" : {
          "type" : "string",
          "description" : ""
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "The IBAN of the beneficiary's account"
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account"
        },
        "requiredCreditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose" : {
          "type" : "string",
          "description" : "Indicates the purpose code of the payment"
        },
        "structuredCommunicationCode" : {
          "type" : "string",
          "description" : "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)"
        },
        "structuredIssuer" : {
          "type" : "string",
          "description" : "Entity that assigns the identification"
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "This indicates the end to end reference for the payment. This field can be provided by one who instructs the payment and flows through the lifecycle of payment. "
        },
        "instructionIdReference" : {
          "type" : "string",
          "description" : "\"Indicates the unique identification as assigned by an instructing party for an instructed party to\r unambiguously identify the instruction.\""
        },
        "termsAndConditions" : {
          "type" : "string",
          "description" : "Specifies the terms and conditions in the text format for the payment instruction, if any."
        },
        "indicativeRate" : {
          "type" : "string",
          "description" : "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. "
        },
        "chargeAccountId" : {
          "type" : "string",
          "description" : "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account"
        },
        "chargeAccountCurrencyId" : {
          "type" : "string",
          "description" : "When a charge account is specified, this field indicates the currency of the charge account"
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The value date applied to the credit side of a payment"
        },
        "PSDCompliant" : {
          "type" : "string",
          "description" : "Defines whether the transaction is PSD (Payment Services Directive) compliant or not."
        },
        "totalDebitAmount" : {
          "type" : "number",
          "description" : "The total debit amount including the charges associated for the payment"
        },
        "localInstrumentCode" : {
          "type" : "string",
          "description" : ""
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "$ref" : "#/definitions/ScreenHeader_audit"
        }
      }
    },
    "PaymentOrderResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderResponseBody"
        }
      },
      "description" : "PaymentOrderResponse"
    },
    "PaymentOrderResponseBody" : {
      "type" : "object",
      "properties" : {
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_narratives"
          }
        },
        "additionalInformations" : {
          "type" : "array",
          "description" : "Additional Information provided to add context",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_additionalInformations"
          }
        },
        "remittanceInformations" : {
          "type" : "array",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_remittanceInformations"
          }
        },
        "signatories" : {
          "type" : "array",
          "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_signatories"
          }
        },
        "invoiceReferences" : {
          "type" : "array",
          "description" : "It provides the reference of the invoice ",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_invoiceReferences"
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_charges"
          }
        },
        "overrides" : {
          "type" : "array",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database.",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderBody_overrides"
          }
        },
        "paymentOrderProductId" : {
          "type" : "string",
          "description" : "Indicates the payment order product for which payment is initiated"
        },
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment"
        },
        "debitAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the debit account IBAN of the payment"
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Indicates the currency of debit account"
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the Invocation amount will be debited for settlement"
        },
        "creditAccountId" : {
          "type" : "string",
          "description" : "This is the account which will be credited for the instruction"
        },
        "creditAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the credit account"
        },
        "orderingCustomerId" : {
          "type" : "string",
          "description" : "Indicates the customer id for the ordering customer"
        },
        "orderingCustomerName" : {
          "type" : "string",
          "description" : "Indicates the name of Ordering Customer"
        },
        "paymentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of payment."
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "executionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date when payment will be processed"
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency"
        },
        "forexSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency"
        },
        "forexCustomerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion between ordering currency and payment currency in case of transactions involving FX conversion. "
        },
        "orderingPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio"
        },
        "creditPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio"
        },
        "orderingReference" : {
          "type" : "string",
          "description" : "The reference related to the ordering details"
        },
        "chargeBearer" : {
          "type" : "string",
          "description" : "Indicates who will bear all charges for the payment. Allowed options are Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only"
        },
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored"
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Indicates the account number of the beneficiary"
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer "
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Name of beneficiary"
        },
        "accountWithBankBIC" : {
          "type" : "string",
          "description" : "This is the BIC code of the institution where beneficiary holds an account"
        },
        "beneficiaryBankClearingCode" : {
          "type" : "string",
          "description" : "Clearing code or sort code of the beneficiary bank"
        },
        "accountWithBankClearingCode" : {
          "type" : "string",
          "description" : "This is the national clearing code or sort code of the institution where beneficiary holds an account"
        },
        "clearingChannel" : {
          "type" : "string",
          "description" : "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers"
        },
        "structuredCreditorReference" : {
          "type" : "string",
          "description" : "This is the unique reference, as assigned by the creditor, to unambiguously refer to the payment"
        },
        "beneficiaryCountryCode" : {
          "type" : "string",
          "description" : ""
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "The IBAN of the beneficiary's account"
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account"
        },
        "requiredCreditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "purpose" : {
          "type" : "string",
          "description" : "Indicates the purpose code of the payment"
        },
        "structuredCommunicationCode" : {
          "type" : "string",
          "description" : "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)"
        },
        "structuredIssuer" : {
          "type" : "string",
          "description" : "Entity that assigns the identification"
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "This indicates the end to end reference for the payment. This field can be provided by one who instructs the payment and flows through the lifecycle of payment. "
        },
        "instructionIdReference" : {
          "type" : "string",
          "description" : "\"Indicates the unique identification as assigned by an instructing party for an instructed party to\r unambiguously identify the instruction.\""
        },
        "termsAndConditions" : {
          "type" : "string",
          "description" : "Specifies the terms and conditions in the text format for the payment instruction, if any."
        },
        "indicativeRate" : {
          "type" : "string",
          "description" : "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. "
        },
        "chargeAccountId" : {
          "type" : "string",
          "description" : "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account"
        },
        "chargeAccountCurrencyId" : {
          "type" : "string",
          "description" : "When a charge account is specified, this field indicates the currency of the charge account"
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The value date applied to the credit side of a payment"
        },
        "PSDCompliant" : {
          "type" : "string",
          "description" : "Defines whether the transaction is PSD (Payment Services Directive) compliant or not."
        },
        "totalDebitAmount" : {
          "type" : "number",
          "description" : "The total debit amount including the charges associated for the payment"
        },
        "localInstrumentCode" : {
          "type" : "string",
          "description" : ""
        },
        "recordStatus" : {
          "type" : "string",
          "description" : "General status of the record. Possible values: - null - authorised - IHLD - input, on hold - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised - RNAO - reversed, not authorised with blocking overrides"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "audit" : {
          "$ref" : "#/definitions/ScreenHeader_audit"
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/overrideBody_overrideDetails"
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ScreenErrorResponseBody_errorDetails"
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "$ref" : "#/definitions/ScreenHeader_audit"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "PaymentOrderResponse1" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderResponse1Body"
        }
      },
      "description" : "PaymentOrderResponse1"
    },
    "PaymentOrderResponse1Body" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/PaymentOrderResponse1Body_inner"
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type"
        }
      }
    },
    "PaymentOrderPurposesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderPurposesResponseBody"
        }
      },
      "description" : "PaymentOrderPurposesResponse"
    },
    "PaymentOrderPurposesResponseBody" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/PaymentOrderPurposesResponseBody_inner"
      }
    },
    "PaymentOrderProductsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderProductsResponseBody"
        }
      },
      "description" : "PaymentOrderProductsResponse"
    },
    "PaymentOrderProductsResponseBody" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner"
      }
    },
    "PaymentOrderCountryRulesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PaymentOrderCountryRulesResponseBody"
        }
      },
      "description" : "PaymentOrderCountryRulesResponse"
    },
    "PaymentOrderCountryRulesResponseBody" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/PaymentOrderCountryRulesResponseBody_inner"
      }
    },
    "PayloadHeader_override_overrideDetails" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The identifier of the override"
        },
        "description" : {
          "type" : "string",
          "description" : "The actual override message"
        },
        "responseCode" : {
          "type" : "string",
          "description" : "The user input to accept/reject the override."
        }
      }
    },
    "PayloadHeader_override" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PayloadHeader_override_overrideDetails"
          }
        }
      }
    },
    "PayloadHeader_audit" : {
      "properties" : {
        "versionNumber" : {
          "type" : "string",
          "description" : "The CURR.NO. of the record"
        }
      }
    },
    "PaymentOrderBody_narratives" : {
      "properties" : {
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
        }
      }
    },
    "PaymentOrderBody_additionalInformations" : {
      "properties" : {
        "additionalInformation" : {
          "type" : "string",
          "description" : "Additional Information provided to add context"
        }
      }
    },
    "PaymentOrderBody_remittanceInformations" : {
      "properties" : {
        "remittanceInformation" : {
          "type" : "string",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form."
        }
      }
    },
    "PaymentOrderBody_signatories" : {
      "properties" : {
        "signatory" : {
          "type" : "string",
          "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction"
        }
      }
    },
    "PaymentOrderBody_invoiceReferences" : {
      "properties" : {
        "invoiceReference" : {
          "type" : "string",
          "description" : "It provides the reference of the invoice "
        }
      }
    },
    "PaymentOrderBody_charges" : {
      "properties" : {
        "chargeType" : {
          "type" : "string",
          "description" : "Holds the type of the charges to be collected"
        },
        "chargeName" : {
          "type" : "string",
          "description" : "The description of the charge to be taken for payment"
        },
        "chargeCurrency" : {
          "type" : "string",
          "description" : "Indicates the charge currency in which charge amount will be taken for the instruction"
        },
        "chargeAmount" : {
          "type" : "number",
          "description" : "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction"
        },
        "chargeAccountCurrencyAmount" : {
          "type" : "number",
          "description" : ""
        }
      }
    },
    "PaymentOrderBody_overrides" : {
      "properties" : {
        "override" : {
          "type" : "string",
          "description" : "The override message is captured  that was generated at the time of commitment of the transaction to the database."
        }
      }
    },
    "ScreenHeader_audit" : {
      "properties" : {
        "T24_time" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Time taken to response by T24"
        },
        "versionNumber" : {
          "type" : "string",
          "description" : "The CURR.NO. of the record"
        },
        "parse_time" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Time taken to parse the response by IRIS"
        }
      }
    },
    "overrideBody_overrideDetails" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The identifier of the override"
        },
        "description" : {
          "type" : "string",
          "description" : "The actual override message"
        }
      }
    },
    "ScreenErrorResponseBody_errorDetails" : {
      "properties" : {
        "fieldName" : {
          "type" : "string",
          "description" : "The name of the field"
        },
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message"
        }
      }
    },
    "PaymentOrderResponse1Body_inner_debits" : {
      "properties" : {
        "debitAccountId" : {
          "type" : "string",
          "description" : "Indicates the debit account number of the payment",
          "maxLength" : 34
        },
        "debitAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the debit account IBAN of the payment",
          "maxLength" : 35
        },
        "debitCurrency" : {
          "type" : "string",
          "description" : "Indicates the currency of debit account",
          "maxLength" : 3
        },
        "debitValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date on which the Invocation amount will be debited for settlement"
        },
        "totalDebitAmount" : {
          "type" : "number",
          "description" : "The total debit amount including the charges associated for the payment"
        }
      }
    },
    "PaymentOrderResponse1Body_inner_credits" : {
      "properties" : {
        "creditAccountId" : {
          "type" : "string",
          "description" : "This is the account which will be credited for the instruction",
          "maxLength" : 19
        },
        "creditAccountIBAN" : {
          "type" : "string",
          "description" : "Indicates the IBAN of the credit account",
          "maxLength" : 35
        },
        "requiredCreditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The credit value date i.e. tentative date on which the payment system will process the payment"
        },
        "creditValueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The value date applied to the credit side of a payment"
        }
      }
    },
    "PaymentOrderResponse1Body_inner_narratives" : {
      "properties" : {
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "maxLength" : 65
        }
      }
    },
    "PaymentOrderResponse1Body_inner_additionalInformations" : {
      "properties" : {
        "additionalInformation" : {
          "type" : "string",
          "description" : "Additional Information provided to add context",
          "maxLength" : 65
        }
      }
    },
    "PaymentOrderResponse1Body_inner_remittanceInformations" : {
      "properties" : {
        "remittanceInformation" : {
          "type" : "string",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "maxLength" : 35
        }
      }
    },
    "PaymentOrderResponse1Body_inner_beneficiaries" : {
      "properties" : {
        "beneficiaryId" : {
          "type" : "string",
          "description" : "Indicates the Id of beneficiary when beneficiary details are stored",
          "maxLength" : 17
        },
        "beneficiaryAccountId" : {
          "type" : "string",
          "description" : "Indicates the account number of the beneficiary",
          "maxLength" : 34
        },
        "beneficiaryBIC" : {
          "type" : "string",
          "description" : "BIC (Bank Identifier Code) of the beneficiary customer ",
          "maxLength" : 35
        },
        "beneficiaryName" : {
          "type" : "string",
          "description" : "Name of beneficiary",
          "maxLength" : 70
        },
        "beneficiaryCountryCode" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 2
        },
        "beneficiaryIBAN" : {
          "type" : "string",
          "description" : "The IBAN of the beneficiary's account",
          "maxLength" : 35
        },
        "accountWithBankIBAN" : {
          "type" : "string",
          "description" : "This is the IBAN of the institution where beneficiary holds an account",
          "maxLength" : 35
        }
      }
    },
    "PaymentOrderResponse1Body_inner_invoiceReferences" : {
      "properties" : {
        "invoiceReference" : {
          "type" : "string",
          "description" : "It provides the reference of the invoice ",
          "maxLength" : 35
        }
      }
    },
    "PaymentOrderResponse1Body_inner_charges" : {
      "properties" : {
        "chargeAccountId" : {
          "type" : "string",
          "description" : "Indicates the account to which the charges has to be levied. Used when charges are to be taken from a separate account",
          "maxLength" : 34
        },
        "chargeAccountCurrencyId" : {
          "type" : "string",
          "description" : "When a charge account is specified, this field indicates the currency of the charge account",
          "maxLength" : 3
        },
        "chargeType" : {
          "type" : "string",
          "description" : "Holds the type of the charges to be collected",
          "maxLength" : 20
        },
        "chargeName" : {
          "type" : "string",
          "description" : "The description of the charge to be taken for payment",
          "maxLength" : 50
        },
        "chargeCurrencyId" : {
          "type" : "string",
          "description" : "Specifies the currency of the charge amount. Allowed only when a charge amount is specified ",
          "maxLength" : 3
        },
        "chargeAmount" : {
          "type" : "string",
          "description" : "Indicates the charge amount in the charge currency which is to be applied for instruction for e.g. charge to be taken for payment stop instruction",
          "maxLength" : 19
        },
        "chargeAccountCurrencyAmount" : {
          "type" : "number",
          "description" : ""
        }
      }
    },
    "PaymentOrderResponse1Body_inner" : {
      "properties" : {
        "debits" : {
          "type" : "array",
          "description" : "Debit value of the transaction ",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderResponse1Body_inner_debits"
          }
        },
        "credits" : {
          "type" : "array",
          "description" : "Credit value of the transaction",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderResponse1Body_inner_credits"
          }
        },
        "narratives" : {
          "type" : "array",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderResponse1Body_inner_narratives"
          }
        },
        "additionalInformations" : {
          "type" : "array",
          "description" : "Additional Information provided to add context",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderResponse1Body_inner_additionalInformations"
          }
        },
        "remittanceInformations" : {
          "type" : "array",
          "description" : "Indicates the remittance information that is supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderResponse1Body_inner_remittanceInformations"
          }
        },
        "beneficiaries" : {
          "type" : "array",
          "description" : "Identifies the Beneficiary name and address of the Standing Order",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderResponse1Body_inner_beneficiaries"
          }
        },
        "invoiceReferences" : {
          "type" : "array",
          "description" : "It provides the reference of the invoice ",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderResponse1Body_inner_invoiceReferences"
          }
        },
        "charges" : {
          "type" : "array",
          "description" : "The charges or fees for this transaction",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderResponse1Body_inner_charges"
          }
        },
        "paymentOrderId" : {
          "type" : "string",
          "description" : "The unique reference number of payment",
          "maxLength" : 35
        },
        "paymentOrderProductId" : {
          "type" : "string",
          "description" : "Indicates the payment order product for which payment is initiated",
          "maxLength" : 35
        },
        "orderingCustomerId" : {
          "type" : "string",
          "description" : "Indicates the customer id for the ordering customer",
          "maxLength" : 35
        },
        "orderingCustomerName" : {
          "type" : "string",
          "description" : "Indicates the name of Ordering Customer",
          "maxLength" : 140
        },
        "paymentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of payment.",
          "maxLength" : 3
        },
        "amount" : {
          "type" : "number",
          "description" : "This is the payment amount"
        },
        "executionDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date when payment will be processed"
        },
        "treasuryRate" : {
          "type" : "string",
          "description" : "The Treasury rate for the conversion between payment currency and the ordering currency",
          "maxLength" : 11
        },
        "forexSpread" : {
          "type" : "string",
          "description" : "The spread that is applied to the published internal exchange rates to derive the final exchange rate or the customer rate for the transaction for currency conversion between ordering currency and payment currency",
          "maxLength" : 12
        },
        "forexCustomerRate" : {
          "type" : "string",
          "description" : "The exchange rate that is actually applied for currency conversion between ordering currency and payment currency in case of transactions involving FX conversion. ",
          "maxLength" : 11
        },
        "orderingPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the debit side if the account belongs to a specific portfolio",
          "maxLength" : 18
        },
        "creditPortfolio" : {
          "type" : "string",
          "description" : "Indicates the portfolio id for the credit side if the account belongs to a specific portfolio",
          "maxLength" : 18
        },
        "orderingReference" : {
          "type" : "string",
          "description" : "The reference related to the ordering details",
          "maxLength" : 18
        },
        "chargeBearer" : {
          "type" : "string",
          "description" : "Indicates who will bear all charges for the payment. Allowed options are Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only",
          "maxLength" : 35
        },
        "accountWithBankBIC" : {
          "type" : "string",
          "description" : "This is the BIC code of the institution where beneficiary holds an account",
          "maxLength" : 27
        },
        "beneficiaryBankClearingCode" : {
          "type" : "string",
          "description" : "Clearing code or sort code of the beneficiary bank",
          "maxLength" : 35
        },
        "accountWithBankClearingCode" : {
          "type" : "string",
          "description" : "This is the national clearing code or sort code of the institution where beneficiary holds an account",
          "maxLength" : 35
        },
        "clearingChannel" : {
          "type" : "string",
          "description" : "Indicates the clearing channel for the payment in the ISO format of the Clearing System Identifiers",
          "maxLength" : 35
        },
        "structuredCreditorReference" : {
          "type" : "string",
          "description" : "This is the unique reference, as assigned by the creditor, to unambiguously refer to the payment",
          "maxLength" : 65
        },
        "signatory" : {
          "type" : "string",
          "description" : "The authorised signatories for the payments can be specified here. More applicable in case of corporate payments where multiple signatories are required to sign a payment instruction",
          "maxLength" : 35
        },
        "purpose" : {
          "type" : "string",
          "description" : "Indicates the purpose code of the payment",
          "maxLength" : 65
        },
        "structuredCommunicationCode" : {
          "type" : "string",
          "description" : "Creditor reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction) - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder) - SCOR (StructuredCommunicationReference)",
          "maxLength" : 35
        },
        "structuredIssuer" : {
          "type" : "string",
          "description" : "Entity that assigns the identification",
          "maxLength" : 65
        },
        "endToEndReference" : {
          "type" : "string",
          "description" : "This indicates the end to end reference for the payment. This field can be provided by one who instructs the payment and flows through the lifecycle of payment. ",
          "maxLength" : 35
        },
        "instructionIdReference" : {
          "type" : "string",
          "description" : "\"Indicates the unique identification as assigned by an instructing party for an instructed party to\r unambiguously identify the instruction.\"",
          "maxLength" : 35
        },
        "termsAndConditions" : {
          "type" : "string",
          "description" : "Specifies the terms and conditions in the text format for the payment instruction, if any.",
          "maxLength" : 120
        },
        "paymentStatus" : {
          "type" : "string",
          "description" : "Indicates the Status Code of the payment. Every payment in the hub is tracked using a status code which depicts the current stage at which payment is in the workflow",
          "maxLength" : 35
        },
        "currentStatus" : {
          "type" : "string",
          "description" : "This indicates the current status of payment order",
          "maxLength" : 65
        },
        "internalStatus" : {
          "type" : "string",
          "description" : "This indicates a full description of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories.",
          "maxLength" : 10
        },
        "systemId" : {
          "type" : "string",
          "description" : "The system application identifier from which the entry was generated",
          "maxLength" : 35
        },
        "indicativeRate" : {
          "type" : "string",
          "description" : "The indicative rate at the time of submitting a payment initiation request. Actual rate with which the payment will be processed will be calculated/ fetched during payment processing. ",
          "maxLength" : 11
        },
        "PSDCompliant" : {
          "type" : "string",
          "description" : "Defines whether the transaction is PSD (Payment Services Directive) compliant or not.",
          "maxLength" : 35
        },
        "versionNumber" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 4
        }
      }
    },
    "PaymentOrderPurposesResponseBody_inner" : {
      "properties" : {
        "paymentOrderPurposeCodeId" : {
          "type" : "string",
          "description" : "Indicates the Id of payment purpose code i.e. purpose of the instruction based on a set of pre-defined categories.",
          "maxLength" : 4
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 70
        },
        "classification" : {
          "type" : "string",
          "description" : "This indicates a high-level classification of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories.",
          "maxLength" : 70
        },
        "definition" : {
          "type" : "string",
          "description" : "This indicates a full description of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories.",
          "maxLength" : 120
        }
      }
    },
    "PaymentOrderProductsResponseBody_inner_paymentProductGroupIds" : {
      "properties" : {
        "paymentProductGroupId" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        }
      }
    },
    "PaymentOrderProductsResponseBody_inner_paymentCurrencyIds" : {
      "properties" : {
        "paymentCurrencyId" : {
          "type" : "string",
          "description" : "The currency of payment.",
          "maxLength" : 3
        }
      }
    },
    "PaymentOrderProductsResponseBody_inner_orderingCurrencyIds" : {
      "properties" : {
        "orderingCurrencyId" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 3
        }
      }
    },
    "PaymentOrderProductsResponseBody_inner_countryIds" : {
      "properties" : {
        "countryId" : {
          "type" : "string",
          "description" : "ISO country code of the financial institution. ",
          "maxLength" : 2
        }
      }
    },
    "PaymentOrderProductsResponseBody_inner_clearingChannelIds" : {
      "properties" : {
        "clearingChannelId" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        }
      }
    },
    "PaymentOrderProductsResponseBody_inner_additionalInformations" : {
      "properties" : {
        "additionalInformation" : {
          "type" : "string",
          "description" : "Additional Information provided to add context",
          "maxLength" : 120
        }
      }
    },
    "PaymentOrderProductsResponseBody_inner" : {
      "properties" : {
        "paymentProductGroupIds" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner_paymentProductGroupIds"
          }
        },
        "paymentCurrencyIds" : {
          "type" : "array",
          "description" : "The currency of payment.",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner_paymentCurrencyIds"
          }
        },
        "orderingCurrencyIds" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner_orderingCurrencyIds"
          }
        },
        "countryIds" : {
          "type" : "array",
          "description" : "ISO country code of the financial institution. ",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner_countryIds"
          }
        },
        "clearingChannelIds" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner_clearingChannelIds"
          }
        },
        "additionalInformations" : {
          "type" : "array",
          "description" : "Additional Information provided to add context",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner_additionalInformations"
          }
        },
        "paymentOrderProductId" : {
          "type" : "string",
          "description" : "Indicates the payment order product for which payment is initiated",
          "maxLength" : 10
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 35
        },
        "rank" : {
          "type" : "string",
          "description" : "Indicates the rank of the payment order product within the group. ",
          "maxLength" : 10
        },
        "payThroughBeneficiary" : {
          "type" : "string",
          "description" : "Defines whether payment initiation can be done by providing beneficiary details. This is applicable when beneficiary is not within the same bank",
          "maxLength" : 35
        },
        "futureDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Indicates if a future dated instruction can be inputted for the specific payment order product"
        },
        "requiredCreditValue" : {
          "type" : "string",
          "description" : "Indicates if required credit value date can be inputted for the specific payment order product while initiating a payment",
          "maxLength" : 35
        },
        "IBANSupport" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        },
        "BICSupport" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        },
        "sortCodeSupport" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        },
        "narrative" : {
          "type" : "string",
          "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference",
          "maxLength" : 65
        },
        "weblink" : {
          "type" : "string",
          "description" : "The web link for additional information",
          "maxLength" : 70
        },
        "forexSupport" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 3
        },
        "defaultChargeOption" : {
          "type" : "string",
          "description" : "Indicates the charge option which will be defaulted at the time of payment initiation for specific payment order product i.e. Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only.",
          "maxLength" : 35
        },
        "checkTransparency" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        },
        "awaitExternalSubmit" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        }
      }
    },
    "PaymentOrderCountryRulesResponseBody_inner" : {
      "properties" : {
        "clearingChannelIds" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner_clearingChannelIds"
          }
        },
        "paymentCurrencyIds" : {
          "type" : "array",
          "description" : "The currency of payment.",
          "items" : {
            "$ref" : "#/definitions/PaymentOrderProductsResponseBody_inner_paymentCurrencyIds"
          }
        },
        "countryId" : {
          "type" : "string",
          "description" : "ISO country code of the financial institution. ",
          "maxLength" : 9
        },
        "displayName" : {
          "type" : "string",
          "description" : "Name used for display or enrichment purposes",
          "maxLength" : 65
        },
        "IBANSupport" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        },
        "BICSupport" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        },
        "sortCodeSupport" : {
          "type" : "string",
          "description" : "",
          "maxLength" : 35
        }
      }
    }
  }
}