[Unit]
Description=Avoka Transact Manager
Requires=mysqld.service
After=mysqld.service

[Service]
Type=simple
User=root
ExecStart=/etc/init.d/txmanager start
ExecStop=/etc/init.d/txmanager stop

[Install]
WantedBy=multi-user.target